* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    color: #05181d;
    background-color: #e8dfd8;
    background-repeat: repeat-x;
    background-size: cover;
}


/***************************************************header section*************************************************/

.navBar {
    width: 100%;
    height: 90px;
    background-color: #9dddcd;
    box-shadow: 0px 0px 10px #3b3d3de7;
}

.logo {
    width: 3%;
    padding: 0.5%;
    position: relative;
    left: 5%;
}

.navBar h1 {
    position: relative;
    float: left;
    left: 15%;
    top: 5%;
}

.animated {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotatex(0deg);
    }
    25% {
        transform: rotatex(90deg);
    }
    50% {
        transform: rotatex(180deg);
        color: #ffa5d8;
    }
    75% {
        transform: rotatex(90deg);
    }
    100% {
        transform: rotatex(0deg);
    }
}

.ull {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    right: 5%;
    width: 21%;
    top: 38%;
    right: 10%;
    text-align: right;
}

.ull li {
    display: inline;
    padding: 5%;
}

.ull li a {
    color: #08282f;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.dropdwn-con {
    display: none;
    position: absolute;
    background-color: #9dddcd73;
    min-width: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 2%;
    padding: 0px;
    left: 80px;
}

.dropdwn-con a {
    float: none;
    color: #08282f;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdwn-con a:hover {
    background-color: #9dddcdb4;
}

.drop:hover .dropdwn-con {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.mainBox {
    padding-top: 60px;
}


/************************************************mainBox section*************************************************/

.mainBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2d78a00;
    padding: 1%;
    margin-top: 5%;
}

.mainBox .otherBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2d78a50;
    padding: 1%;
    margin-top: 5%;
}

.para {
    width: 45%;
    position: relative;
    left: 1%;
    line-height: 30px;
    font-size: 20px;
}

.hImg {
    width: 45%;
    position: relative;
    float: right;
    top: -320px;
}

.hImg img {
    height: 300px;
}

.start-btn {
    width: 15%;
    text-decoration: none;
    border: 2px solid #08282fb7;
    transition: all 0.5s ease;
    font-size: 20px;
    padding: 5px;
    position: relative;
    float: right;
    top: -100px;
    right: 15%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.no-other {
    top: -75px;
    right: 0%;
    position: sticky;
}

.start-btn:hover {
    background-color: #08282fb7;
    color: #c2d78a;
}

#scorSpan {
    font-size: 25px;
    top: -80px;
    position: relative;
    left: 30%;
}

#res-par {
    font-size: 25px;
}

.recomadedLink {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #05181d;
}


/***************************************************footer section*************************************************/

.footr {
    width: 100%;
    height: 50px;
    position: relative;
    bottom: -200px;
    background-color: #80c2b498;
    text-align: center;
    padding-top: 1%;
    box-shadow: 0px 0px 10px #3b3d3de7;
}


/* -------------------quiz section----------------------------- */

.qbox {
    padding-bottom: 5%;
}

.quesBox {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #9dddcdcc;
    padding: 2%;
    margin-top: 1%;
    transition: 1s ease;
}

.quesBox:hover {
    box-shadow: 0px 0px 5px #3d4446e7;
    background-color: #a2e4c0af;
}

#qHead {
    padding: 1%;
}

.ansrBox {
    width: 90%;
    padding: 0.5%;
    margin-left: auto;
    margin-right: -4%;
}

.allBtns {
    width: 40%;
    padding: 10px;
    background-color: #ffffff4d;
    border-radius: 5px;
    border: 2px solid #08282f;
    color: #08282f;
    margin: 1%;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s ease;
}

.allBtns:hover {
    background-color: #80c2b494;
    color: #08282f;
    box-shadow: 0px 0px 5px #282d2ee7;
}

.res-btn {
    width: 100%;
    padding: 10px;
    background-color: #ffffff4d;
    border-radius: 5px;
    border: 2px solid #08282f;
    color: #08282f;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s ease;
}

.res-btn:hover {
    background-color: #80c2b494;
    color: #08282f;
    box-shadow: 0px 0px 5px #282d2ee7;
    transform: scale(1.02);
}